<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Count Page </h1>
    <h2 id="ct"></h2>
    <script>
       var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')

       ws.onopen = function(){
        console.log("Websocket connection opened ...")
        ws.send("Hi, Message from Client ...") 
       }

    //    ws.onmessage = function(event){
    //     console.log("Event...",event)
    //     console.log("Message Received from server...",event.data)
    //     document.getElementById("ct").innerText = event.data;
    //    }

    
    ws.onmessage = function(event){
        console.log("Message Received from server...",event.data)
        var data = JSON.parse(event.data)
        document.getElementById("ct").innerText = data.count;
       }

       ws.onerror = function(event){
        console.log("Websocket Error occured...",event)
       }

       ws.onclose = function(event){
        console.log("Websocket connection closed...",event)
       }

    </script>

</body>
</html>